{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        Password reset</title>
    <link rel="stylesheet" href="{% static 'mi_app/dist/css/adminlte.min.css' %}">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">📩 We've sent a link to your email to reset your password.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-block">
                    Return to login</a>
            </div>
        </div>
    </div>
</body>

</html>